inference/chroma_store
first-rag-codellama-7b
wandb
training-code/checkpoints
chroma_store
training-code/fifth-rag-codellama-7b-from-checkpoint
training-code/sixth-contextlen-1500-rag-sql-codellama7b
training-code/1-examples-sql-codellama7b-rag-test
training-code/2-examples-sql-codellama7b-rag-test
training-code/no-examples-sql-codellama7b-baseline-test
training-code/seventh-contextlen-1000-3-examples-rag-sql-codellama7b
embeddings/__pycache__/
embeddings/__pycache__/chroma_funcs.cpython-310.pyc
embeddings/__pycache__/chroma_funcs.cpython-310.pyc
training-code/1-example-new-fix-chroma-bug-tune-for-rag
training-code/1-example-new-fix-chroma-bug-tune-for-rag-different-db_id
training-code/1-random-example-new-fix-chroma-bug-tune-for-rag
